[Unit]
Description=JKER OS Live System Setup & Provisioner
After=multi-user.target
Before=display-manager.service sddm.service

[Service]
Type=oneshot
ExecStart=/usr/bin/jker-syssetup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
